body{
	background-color: lightgray;
	font-family: cursive;
}

header {
    
    border-bottom: 3px solid;
    background-image: linear-gradient(to right, red, blue);
    color: white;
    padding: 25px 0;
}
.main-content{
	min-height: 100dvh;
}
.cards{
	display: flex;
}
#card{
	width: 25%;
	text-align: center;
	margin: auto;
}
.info {
    background-color: white;
    padding: 30px;
    border: 2px solid #b7a2eb;
    border-top: none;
}
.profile-pic img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
button.read-more {
    padding: 10px 25px;
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.cards {
    display: flex;
    gap: 2%;
}
button.download-btn {
    padding: 10px;
    background-image: linear-gradient(45deg, green, #1b5a5a);
    color: #fff;
    font-size: 25px;
    border: 1px solid;
    border-radius: 5px;
}
.floating {
    position: absolute;
    bottom: 0px;
}

nav ul {
    display: flex;
    gap: 4%;
    justify-content: center;
    list-style: none;
}

nav ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
nav ul li a:hover {
    border-bottom: 1px solid;
    padding: 5px 10px;
}